<%- include('./includes/start.ejs') %>

  <%- include('./includes/head.ejs') %>

  <body>

    <%- include('./includes/nav.ejs') %>

  <div class="not-found content">
    <p>
      Not Found
    </p>
  </div>
  
  <%- include('./includes/footer.ejs') %>

  <%- include('./includes/end.ejs') %>
