<%- include('./includes/start.ejs') %>

  <%- include('./includes/head.ejs') %>

  <body>

    <%- include('./includes/nav.ejs') %>
 
  
    <div class="about content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates,
        tempora.
      </p>
    </div>
    
    <%- include('./includes/footer.ejs') %>

    <%- include('./includes/end.ejs') %>
